  <div class="card">
    <div class="bg-lightBlue mb-1 table__heading">
        <h2 class="text-center">Warranty</h2>
    </div>
    <div class="card-body row">
    
      {{!-- Module Warranty --}}
      <div class="col-md-3 col-sm-12 mb-1">
        {{{parseTags moduleWarrantyText}}}
      </div>
        {{!-- Inverter Warranty --}}
      <div class="col-md-3 col-sm-12">
        {{{parseTags inverterWarrantyText}}}
      </div>    
      {{!-- Micro-Inverter / Inverter Warranty --}}
      <div class="col-md-3 col-sm-12 mb-1">
        {{{parseTags monitoringWarrantyText}}}
      </div>
      {{!-- Workmanship Warranty --}}
      <div class="col-md-3 col-sm-12 mb-1">
        {{{parseTags workmanshipWarrantyText}}}
      </div> 
    
      
   </div> 
  </div> 