{{! Finance }}
<div class="page leading-relaxed text-gray-800 pb-always" id="cash">
  <div class="container mx-auto" class="compare">
    {{> offering/layout/compare/header}}
    {{! Compare }}
    <table class="compare-table"
      style="border-collapse: separate;
    border-spacing: 2px 5px;"
    >
      {{! Suggested Solution }}
      {{> offering/layout/compare/logo-list}}

      {{> offering/layout/compare/cash}}
    </table>
    {{> offering/layout/compare/disclaimer}}
  </div>
</div>
