{{! Finance }}
<div class="page leading-relaxed text-gray-800 pb-always" id="finance">
  <div class="container mx-auto">
    {{> offering/layout/compare/header}}
    {{! Compare }}
    <table class="compare-table"
      style="border-collapse: separate;
    border-spacing: 2px;"
    >
     {{> offering/layout/compare/logo-list}}

     {{> offering/layout/compare/finance}}
    </table>
    <div style="">
      {{> offering/layout/compare/disclaimer}}
    </div>
  </div>
</div>
