
<div id="indexPage">
  {{> main/_navbar}}
  {{> main/_errors}}
  
<div class="index">
  <div class="row mb-2">
    <div class="col-md-2">
      <img src="/img/aeslogo.png" alt="" class="img-fluid mb-2 ml-md-5">
    </div>
    <div class="col-md-10 text-md-right text-center align-self-center pr-5">
      <h4>We're the North Valley's Tesla Powerwall Certified Installer!</h4>
    </div>
  </div>

  <div class="" id="jumboIndex">
    <div class="bgText">
      <h1 class="display-3 text-center text-white " id="numberOneSolar"><span class="align-middle">#1 Solar Contractor in the North Valley</span></h1>
    </div>  
  </div>

  <div class="" id="meter__dowload">
    <h1 class="display-4 text-left">AES Meter Download</h1>
    <p class="lead">Welcome to the Alternative Energy Systems meter download tool. We appreciate you taking the time to share your energy consumption information with us. Your information allows us to develop the best proposal we can to meet your energy needs.</p>
    <hr>
    <p class="lead">If you have not already given AES access to your PG&E usage, please register now and submit your data.  <a class="ml-3 shadow-sm register__button" href="/customer/registration" role="button"><b>Register Now</b></a></p>
  </div>

</div>
</div>