
<style>
  .thank__you__container {
    max-width: 800px;
    margin: 0 auto;
  }

  .thank__you__header {
    display: flex;
    margin-top: 100px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .thank__you__logo {
    max-width: 70%;
    height: auto;
  }

  .thank__you_message {
    display: flex;
    flex-direction: column;
  }

  .thank__you__massage--heading {
    text-align: center;
    color: rgba(75, 79, 81, .8);
    font-size: 60px;
    margin-top: 20px;
  }

  .thank__you__massage--paragraph {
    text-align: center;
    color: rgba(75, 79, 81, .8);
    font-size: 22px;
    margin-top: 20px;
  }
</style>



<div class="thank__you__container">
  <div class="thank__you__header">
      <img src="/img/aeslogo.png" alt="Alternative Energy Systems Logo" class="thank__you__logo">
  </div>
  <hr>
  <div class="thank__you_message">
    <h1 class="thank__you__massage--heading">
      Thank You! 
    </h1>
    <p class="thank__you__massage--paragraph">
      Your energy usage has been successfully shared. We’re working on your system design now. Your energy consultant will get in touch with you shortly.
    </p>
  </div>
</div>
