<div class="cover__page d-none d-print-block">
  <div class="cover__page-container">
    <img class="cover__page-img" src={{{content._fid_77}}} alt="">
    <div class="cover__page-info">
      <div class="cover__page-blank">
      </div>
      <div class="cover__page-customer">
        <h2>{{{customerName}}}</h2>
        <h2>{{{customerAddress}}}</h2>
      </div>
      <div class="cover__page-aes">
        <p>Alternative Energy Systems | Chico Showroom <br> 876 East Ave., Chico, CA 95928 <br> 530.345.6980 <br> SavingEnergyForLife.com</p>
      </div>
    </div>
  </div>
</div>