<p class="mt-6 text-xs text-justify">
  <b>(1)</b> Cost of electricity assumes conservative 3% utility price increase over 25 year period.
  <b>(2)</b> Estimated Solar Production uses modeling based on current site shade conditions and
  average annual local weather and may vary due to fluctuations in these variables. <b>(3)</b> Loan
  estimates assume you will qualify based on your credit history and do not constitute an offer for
  credit. Loan payment estimate assumes you will pay any eligible tax credit amount toward the loan
  by a stated date (typically 12-18 months from funding), otherwise loan payment will be higher.
  <b>(4)</b> Federal tax credit amount is estimated based on current tax code and there is no
  guarantee you will be able to realize the credit. Each situation is different and based on your
  individual tax situation. Consult your tax professional. <b>(5)</b> Self Generation Incentive
  Program (SGIP) rebate estimate is based on the current program status and there is no guarantee
  you will realize this rebate until a final letter of reservation is issued by the utility.
</p>
