{{! Offering Header }}
<div class="flex justify-between items-start">
  <div>
    <h2 class="text-xl font-semibold print:text-xl">
      Energy Saving Solution:
      {{{removeBr _fid_848}}}
    </h2>
    <p>
      {{{_fid_312}}}
    </p>
    <p>
      {{{_fid_251}}}
    </p>
    <p class="font-semibold">
      Current usage:
      <span class="italic">
        {{{toNumber _fid_335}}}
        kWh
      </span>
    </p>
  </div>
  <img class="w-56" src="/offering/aeslogo.png" alt="AES Logo" />
</div>