<p class="font-bold mb-1">
  {{{storage._fid_221}}} <br> <span class="text-sm font-thin italic">(Typically Includes):</span>
</p>
<ul class="list-disc list-inside text-xs leading-snug ml-2">
  {{{formatLi storage._fid_223}}}
  {{#ifCon storage._fid_221 "==" 'Full Backup Profile'}}
  <li>Essential Appliances</li>
  {{/ifCon}}
</ul>
