{{!-- Header of spec Sheet ************************************************************************* --}}
<div class="row">
  <div class="col-5 align-self-end">
    <img src="" alt="">
    <img src="/img-content/AES-Logo.png" class="img-fluid ml-2" id="logo">
  </div>
  {{!-- Agent Information *********************************************************************** --}}
  <div class="col-7">
    <div class="row">
      <div class="col-8 align-self-end">
        <h5 class="mb-0 float-right">
          <b>Agent:</b> {{proposal.agent_to_agent_s_contact_record__f____name__reports___f_}}<br>
          <b>Phone:</b> {{proposal.agent_to_agent_s_contact_record__f____phone_3}}<br>
        </h5>
      </div>
      <div class="col-4">
        <img src="{{proposal.agent_to_agent_s_contact_record__f____photo_link}}" class="img-fluid float-left" style="height:170px;">
      </div>
    </div>
  </div>
</div>
<hr class="mt-0 mb-3 hrHeader">